.site-header{
    width: 100%;
    max-width: 100vw;

    position: fixed;
    top: 0;

    background: radial-gradient(100% 100% at 50% 100%, #1F1E1B 21.52%, #1B1A17 100%);

    font-family: Andika, arial;

}
.site-nav{
    width: 100%;
    padding: 15px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-logo{
    width: 80px;
    display: flex;
    align-items: center;
    padding: 1px 0;
}
.site-logo__img{
    width: 80px;
}
.navbar-list{
    padding: 0 40px;
    display: flex;
    gap: 20px;
    align-items: center;

    list-style: none;

    font-weight: 700;
    font-size: 20px;
    line-height: 21px;

    text-transform: capitalize;

    color: #F0E3CA;
}
.navbar-list__item:hover{
    color: #FF8303;

    cursor: pointer;
}
.navbar-list__item{
    position: relative;
}
.navbar-list__item p{
    pointer-events: none;
}
.navbar-list__item::before{
    position: absolute;
    bottom: -10px;

    content: '';

    width: 0%;
    height: 4px;
    background: #FF8303;

    z-index: 100;

    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

    transition: all 0.7s;

}
.navbar-list__item:hover::before{
    width: 100%;
}
.navbar-bars{
    margin-right: 40px;
    display: none;
}
@media screen and (max-width: 875px) {
    .navbar-bars{
        position: relative;
        display: block;

        width: 30px;
        height: 3px;

        border-radius: 1px;

        background: #fff;

        transition: all 0.5s;

    }
    .navbar-bars::before{
        position: absolute;

        content: '';

        width: 30px;
        height: 3px;
        top: -8px;

        border-radius: 1px;

        background: #fff;

        transition: all 0.5s;
    }
    .navbar-bars::after{
        position: absolute;

        content: '';

        width: 30px;
        height: 3px;
        bottom: -8px;

        border-radius: 0.5px;

        background: #fff;

        transition: all 1s;
    }
    .navbar-list{
        width: 200px;
        height: 100vh;

        overflow-y: auto;

        align-items: flex-start;

        position: absolute;
        flex-direction: column;
        top: 68px;
        right: -100%;

        padding: 30px;

        background: rgba(0, 0, 0, 0.833) ;

        transition: all 1s;
    }
}

.bars-animation{
    background: rgba(255, 255, 255, 0);

    transition: all 0.5s;

}
.bars-animation::before{
    width: 30px;

    transform: rotateZ(45deg);

    margin-top: 8px;

    transition: all 0.7s;

}
.bars-animation::after{
    width: 30px;

    transform: rotateZ(-45deg);

    margin-bottom: 8px;

    transition: all 0.7s;
}
.mobile-nav__list .navbar-list{
    right: 0;
}